<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <a href="/">
          <div class="nav-logo">
            <img src="./static/img/logo.svg" />
          </div>
        </a>
        <nav class="nav-menu">
          <!-- jinja2 loop through nav items -->
          {% for item in nav_items %}
          <a
            href="{{ item.url }}"
            class="nav-link {% if item.name == current_page %}active{% endif %}"
          >
            <!-- jinja2 variable interpolation -->
            {{ item.name }}
          </a>
          {% endfor %}
        </nav>
      </div>
    </header>

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="./static/img/krish-headshot.png" />
      </div>
      <h1>{{ title }}</h1>
    </div>

    <section class="about-me">
      <div class="about-content">
        <h2>About Me</h2>
        <p>
          Hey there! I'm Krish — a second-year Computer Science student at the
          University of Waterloo, passionate about emerging technologies and
          entrepreneurship.
        </p>
        <p>
          I love developing innovative, scalable solutions to real-world
          problems through software projects, hackathons (I've been to 15+ 🚀),
          and pitch competitions. I'm particularly interested in building
          products that have a positive social impact in the education and
          sustainability space.
        </p>
        <p>
          I thrive on turning ideas into reality through code, and am always
          excited to connect with like-minded individuals who share a passion
          for technology and making a difference.
        </p>
        <p>
          Feel free to reach out anytime at:
          <a href="mailto:krish.chopra@uwaterloo.ca"
            >krish.chopra@uwaterloo.ca</a
          >!
        </p>
      </div>
    </section>
  </body>
</html>
